* {
  margin: 0;
  padding: 0;
}
.container {
  width: 700px;
  margin: 50px auto;
}
.post-img {
  width: 400px;
  height: auto;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.article {
  border: 5px solid black;
  position: relative;
}
.title {
  text-transform: uppercase;
  background-color: #f7f7f7;
  text-align: center;
  padding: 25px;
  font-size: 20px;
}
.price-tag {
  font-weight: bold;
  font-size: 25px;
}
.shipping {
  color: #989595;
  text-transform: uppercase;
  margin-bottom: 30px;
}
a:link {
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 25px;
}
a:visited {
  color: #000;
  font-weight: bold;
}
a:hover {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
a:active {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.details-p {
  margin-bottom: 20px;
}
.product {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 20px;
}
.ul-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 15px;
}
.ul-list li {
  margin-bottom: 20px;
}
button {
  border: none;
  width: 100%;
  border-top: 5px solid black;
  background-color: #000;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
}
button:hover {
  background-color: #f7f7f7;
  color: #000;
}
.box {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}
.box-1 {
  /* width: 25px;
  height: 25px; */
  background-color: #000;
}
.box-2 {
  /* width: 25px;
  height: 25px; */
  background-color: blue;
}
.box-3 {
  /* width: 25px;
  height: 25px; */
  background-color: red;
}
.box-4 {
  /* width: 25px;
  height: 25px; */
  background-color: olivedrab;
}
.box-5 {
  /* width: 25px;
  height: 25px; */
  background-color: sandybrown;
}
.box-6 {
  /* width: 25px;
  height: 25px; */
  background-color: brown;
}
/* .title::before {
  position: absolute;
  content: "Sale";
  background-color: red;
  padding: 15px;
  text-transform: uppercase;
  color: #f7f7f7;
  left: -35px;
  top: -35px;
} */
.text {
  text-align: center;
}
.sale {
  background-color: red;
  color: white;
  /* width: 70px;
  height: auto; */
  display: inline; /*it now small based on content not occpupy entire page*/
  text-transform: uppercase;
  padding: 7px 15px;
  /* text-align: center; */
  font-weight: bold;
  position: absolute;
  left: -40px;
  top: -15px;
  letter-spacing: 1.5px;
}
